<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-family:'Poiret One','Major Mono Display', monospace;">Anniversaire</h1>
            <h1 style="font-family:'Poiret One','Major Mono Display', monospace;">Aline &amp; Anthony</h1>
            <p style="font-family:'Major Mono Display', monospace;">liens vers les cagnottes</p>
            <a href="https://cagnotte.me/84693-anniversaire-aline" class="btn btn-primary btn-xl page-scroll">Aline</a>
            <a href="https://cagnotte.me/70199-anniversaire-anthony" class="btn btn-primary btn-xl page-scroll">Antho</a>
        </div>
    </div>
</header>
