<header>
    <div class="header-content">
        <div style="font-family: 'Major Mono Display', monospace;" class="header-content-inner">
            <h1>Anniversaire</h1>
            <h1>Anthony et Aline</h1>
            <hr>
            <p style="font-family:'Major Mono Display', monospace;">Liens vers les cagnottes</p>
            <a href="www.google.com" class="btn btn-primary btn-xl page-scroll">Aline</a>
            <a href="www.twitter.com" class="btn btn-primary btn-xl page-scroll">Antho</a>
        </div>
    </div>
</header>
